$white: #ffffff;
$black: #000000;
$gray: #414042;
$green: #B9D656;
$facebook: #3D5B99;
$twitter: #1DA1F2;
$pinterest: #BD081C;
$instagram: #746eac;
$youtube: #FF0000;
// darker
$red-darker: #4A0207;
// lighter
$gray-lighter1: #A5A5A5;
$gray-lighter2: #D6D6D6;
// Opacity
$white-opacity-5: rgba(255, 255, 255, 0.5);
$white-opacity-8: rgba(255, 255, 255, 0.8);
$black-opacity-5: rgba(0, 0, 0, 0.5);
$black-opacity-3: rgba(0, 0, 0, 0.3);
$black-opacity-1: rgba(0, 0, 0, 0.1);
$pink-opacity-4: rgba(100, 0, 0, 0.4);
// Gradient
$instagram-gradient: linear-gradient(#6d63a6,#dd455b);