$white: #ffffff;
$black: #000000;
$gray: #414042;
$green: #B9D656;
// darker
$red-darker: #4A0207;
// lighter
$gray-lighter1: #A5A5A5;
// Opacity
$white-opacity-5: rgba(255, 255, 255, 0.5);
$black-opacity-3: rgba(0, 0, 0, 0.3);