// .wrap-page {
//     padding-top: 100px;
// }
.scroll-top {
    display: none;
    width: 40px;
    height: 40px;
    color: $green;
    text-align: center;
    border: solid 1px $green;
    border-radius: 50%;
    background: $black-opacity-3;
    transform: rotate(180deg);
    line-height: 40px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 9999;
    transition: 0.3s;
    @media (max-width: 767px) {
        right: 20px;
        bottom: 20px;
    }
    &__icon {
        font-size: 22px;
        font-weight: bold;
    }
    &:hover {
        color: $white;
        background-color: $green;
        box-shadow: 0 0 10px $black-opacity-3;
        border: solid 1px $white;
    }
}

#section-wrap-element,
#section1,
#section2,
#section3,
#section4,
#section5,
#section6 {
    padding-top: 90px;
}
.banner-slide {
    height: 100vh;
    padding: 0 !important;
}

.clearfix {
    clear: both;
}