.banner-slide {
    overflow: hidden;
    &__img-wrap {
        width: 100%;
        height: 100%;
        background-image: url(../images/banner/banner-1.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.banner-img {
    @media (min-width: 992px) {
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    &__image {
        @media (min-width: 992px) {
            width: auto;
            height: 100%;
        }
        @media (max-width: 991px)  {
            width: 100%;
        }
    }
}