.box {
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    &::before {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        background-color: transparent;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        right: 50%;
        top: 50%;
        bottom: 50%;
        transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    }
    &__img {
        display: block;
        width: 100%;
    }
    &__link {
        text-align: center;
        background-color: $pink-opacity-4;
        padding: 15px 5px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transition: 0.5s;
        &:hover {
            .title-h5 {
                color: $green;
            }
        }
    }
    .title-h5 {
        text-transform: uppercase;
        transition: 0.3s;
    }
    &__line {
        width: 0;
        border-bottom: solid 2px $white;
        position: absolute;
        top: 75px;
        left: 30px;
        right: 30px;
        transition: 0.5s;
    }
    &__icons {
        display: inline-block;
        padding: 0 7px;
        position: absolute;
        top: 50%;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;
        &--camera {
            left: 23px;
        }
        &--share {
            left: 73px;
            transition-delay: 0.1s;
        }
        &:hover {
            .box__icon::before {
                color: $green;
            }
        }
    }
    &__icon {
        &::before {
            color: $white;
            font-size: 30px;
            transition: 0.3s;
        }
    }
    &:hover {
        cursor: pointer;
        &::before {
            width: 1000px;
            height: 1000px;
            background-color: $pink-opacity-4;
            border-radius: 0;
            transform: translate(-500px, -500px);
        }
        .box__line {
            width: calc(100% - 60px);
            right: 30px;
        }
        .box__icons {
            top: 30px;
            opacity: 1;
            visibility: visible;
        }
    }
}
.box2 {
    .box__link {
        height: 70px;
        padding: 0;
        @media (max-width: 991px) {
            height: 50px;
        }
        @media (max-width: 767px) {
            height: 40px;
        }
    }
    .title-h5 {
        line-height: 70px;
        @media (max-width: 991px) {
            line-height: 50px;
        }
        @media (max-width: 767px) {
            font-size: 15px;
            line-height: 40px;
        }
    }
    &__text {
        color: $white;
        position: absolute;
        top: 100%;
        left: 30px;
        right: 30px;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
        @media (max-width: 767px) {
            display: none;
        }
    }
    &-big {
        .box2__text {
            left: 60px;
            right: 60px;
        }
    }
    &:hover {
        .box__link {
            height: 100%;
            padding-top: 30px;
            @media (max-width: 991px) {
                padding-top: 20px;
            }
        }
        .box2__text {
            top: 90px;
            opacity: 1;
            visibility: visible;
            @media (max-width: 991px) {
                top: 65px;
            }
        }
    }
    &-big {
        &:hover::before {
            width: 3000px;
            height: 3000px;
            transform: translate(-1500px, -1500px);
        }
    }
}
.box-project {
    &:hover &__text {
        opacity: 1;
        visibility: visible;
        top: 90px;
    }
    &__text {
        height: 140px;
        color: $white;
        padding: 0 30px;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        overflow: hidden;
        top: 50%;
        right: 0;
        left: 0;
        transition: 0.3s;
        @media (max-width: 991px) {
            display: none;
        }
    }
}