.follow {
    @media (min-width: 768px) {
        position: fixed;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
    }
    &__icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        background-size: 16px 16px;
        background-repeat: no-repeat;
        &--fb {
            background-image: url(../images/icons/facebook-logo.svg);
        }
        &--tw {
            background-image: url(../images/icons/youtube-logo.svg);
        }
        &--pr {
            background-image: url(../images/icons/pinterest-logo.svg);
        }
        &--ig {
            background-image: url(../images/icons/instagram-logo.svg);
        }
    }
    &__item {
        display: flex;
        width: 40px;
        height: 40px;
        text-align: center;
        border: solid 1px $green;
        border-radius: 5px;
        background-color: transparent;
        justify-content: center;
        align-items: center;
        padding: 3px;
        margin: 10px 0;
        position: relative;
        transition: 0.3s;
        @media (max-width: 767px) {
            display: inline-flex;
            width: 36px;
            height: 36px;
            background-color: $white;
            margin: 20px 5px 0 0;
        }
        &::before {
            content: '';
            display: inline-block;
            width: 100%;
            height: 100%;
            background-color: $white;
            border-radius: 5px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -2;
        }
        &::after {
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            border-radius: 3px;
            background-color: transparent;
            transform: scale(0);
            position: absolute;
            top: 50%;
            right: 50%;
            bottom: 50%;
            left: 50%;
            z-index: -1;
            transition: 0.3s;
        }
        &:hover {
            color: $white;
            box-shadow: 0 0 8px $black-opacity-5;
            cursor: pointer;
            &:after {
                width: 100%;
                height: 100%;
                transform: scale(1);
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }
        &--fb {
            color: $facebook;
            border-color: $facebook;
            &:hover {
                .follow__icon--fb {
                    background-image: url(../images/icons/facebook-logo-white.svg);
                }
                &::after {
                    background: $facebook;
                }
            }
        }
        &--tw {
            color: $youtube;
            border-color: $youtube;
            &:hover {
                .follow__icon--tw {
                    background-image: url(../images/icons/youtube-logo-white.svg);
                }
                &::after {
                    background: $youtube;
                }
            }
        }
        &--pr {
            color: $pinterest;
            border-color: $pinterest;
            &:hover {
                .follow__icon--pr {
                    background-image: url(../images/icons/pinterest-logo-white.svg);
                }
                &::after {
                    background: $pinterest;
                }
            }
        }
        &--ig {
            color: $instagram;
            border-color: $instagram;
            &:hover {
                .follow__icon--ig {
                    background-image: url(../images/icons/instagram-logo-white.svg);
                }
                &::after {
                    background: $instagram-gradient;
                }
            }
        }
    }
    &__text {
        font-size: 9px;
        line-height: unset;
        margin-top: 1px;
    }
}