.footer {
    color: $white;
    background-color: $gray-lighter1;
    padding: 45px 0 42px 0;
    @media (max-width: 991px) {
        padding: 35px 0 32px 0;
    }
    &__logo-wrap {
        display: flex;
        height: 100%;
        align-items: center;
        @media (max-width: 991px) {
            padding-bottom: 15px;
        }
    }
    &__title {
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    &__element {
        font-weight: 500;
        line-height: 25px;
    }
    &__number {
        white-space: nowrap;
        margin-right: 16px;
        position: relative;
        &::after {
            content: '';
            display: inline-block;
            width: 5px;
            height: 1px;
            background-color: $white;
            position: absolute;
            top: 50%;
            right: -13px;
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
    }
}