.title-h2 {
    font-size: 28px;
    color: $red-darker;
    font-weight: 700;
    text-transform: uppercase;
}
.title-h3 {
    font-size: 22px;
    color: $red-darker;
    font-weight: 700;
}
.title-h4 {
    font-size: 17px;
    color: $white;
    font-weight: 700;
}
.title-h5 {
    font-size: 16px;
    color: $white;
    font-weight: 700;
}