.news-page {
    &__item {
        margin-bottom: 30px;
    }
    &__pagination {
        justify-content: center;
        margin-top: 10px;
    }
}
.new-detail {
    .title-h2 {
        text-align: left;
    }
    &__img-wrap {
        margin-bottom: 50px;
    }
    &__img {
        width: 100%;
    }
    &__text {
        margin-bottom: 20px;
    }
    &__wrap-item {
        padding-top: 30px;
        @media (max-width: 767px) {
            padding-top: 18px;
        }
    }
}