body {
    margin: 0;
}
#slider, #slider .sliderInner {
    width: 100% !important;
    height: 100vh;
    border-radius: 0 !important;
    @media (max-width: 991px) {
        height: 400px;
    }
    @media (max-width: 767px) {
        height: 300px;
    }
    @media (max-width: 575px) {
        height: 200px;
    }
}
#slider {
    box-shadow: unset;
}
.banner-slide img {
    width: 100%;
}
#slider .navBulletsWrapper {
    top: calc(100% - 30px);
}
#slider .navBulletsWrapper div {
    background-image: unset;
    background-color: transparent;
    border: solid 1px $green;
    border-radius: 50%;
}
#slider .navBulletsWrapper .active {
    width: 11px;
    height: 11px;
    background-color: $green;
}
#slider .bgLayer,
#slider .sliderInner .mcSlc {
    background-size: cover !important;
}